* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#nav-bar {
  background-color: transparent;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#nav-bar > div {
  box-sizing: border-box;
  float: left;
  height: 100%;
}

#nav-bar .container-logo {
  /*background-color: orange;*/
  text-align: center;
  width: 10%;
}
#nav-bar #logo {
  height: 50%;
  position: relative;
  top: 25px;
  width: 50%;
}
#nav-bar .container-list {
  width: 70%;
}

.container-list ul {
  height: 100%;
  text-align: right;
}

.container-list ul li {
  display: inline-block;
  box-sizing: border-box;
  padding: 40.5px 20px;
}

.container-list .link {
  color: white;
  text-decoration: none;
}

#nav-bar .container-button {
  padding-top: 35px;
  width: 20%;
}

.container-button .nav-button{
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 10%;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0 15px;
  padding: 5px 10px;
}

.full-screen {
  height: auto;
  width: 100%;
}

header {
}

header .container-video {

}

header #header-video {
  height: auto;
  width: 100%;
}

header .container-form {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #352384;
  padding: 5%;
  position: absolute;
  right: 0;
  top: 100px;
  width: 45%;
}

header .container-form h1 {
  font-size: 42px;
  line-height: 1.25;
}

header .container-form p {
  font-size: 14px;
  padding: 5px 0;
}

header .container-form label {
  color: #728099;
  display: inline-block;
  font-size: 10px;
  padding: 10px 0;
}

header .container-form input, .data {
  width: 100%;
}

header .container-form input {
  border: 0;
  border-bottom: 1px solid #352384;
  padding: 5px 0;
}

.data {
  font-size: 1rem;
}

header .container-form a {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.form-link {
  color: #5B5B5B;
}

.form-link:hover {
  color: #FF00BF;
}

.form-button {
  background-color: #FF00BF;
  border-radius: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.main-information {
  background: linear-gradient(to bottom, #76278F , #2B1E66);
  color: #FFFFFF;
  height: 600px;
}

.main-information .colum-left, .main-information .colum-right{
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 50%;
}

.main-information .colum-left{
  padding: 75px 125px 0 79.08px;
}

.main-information .colum-left h2{
  padding-bottom: 20px;
  line-height: 1.5;
}

.main-information .colum-left p{
  padding-bottom: 50px;
  line-height: 1.5;
}

.main-information .colum-right{
  padding-top: 75px;
  padding-right: 79.08px;
}

.main-information .colum-right img{
  height: 100%;
  width: 100%;
}

.videos {
  overflow: auto;
}

.videos .text,
.videos .video {
  box-sizing: border-box;
  height: 475px;
}

.videos .text {
  width: 30%;
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-left: 50px;
}

.videos .text h4{

}

.videos .video {
  width: 70%;
  background-color: green;
}

.videos .video iframe{
  height: 100%;
  width: 100%;
}

.videos .float-left {
  float: left;
}

.videos .float-right {
  float: right;
}

.secondary-information {
  background-color: blue;
}
